* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-color: #fff;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: white;
    color: black;
    padding: 20px;
    
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    float: right;
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.topnav-esquerda {
    float: ;
    width: 5%; 
    height: 135.2vh; 
    background: black;
    padding: 20px;
    box-sizing: border-box; 
}

.topnav-direita {
  float: right;
  width: 5%; 
  height: 135.2vh; 
  background: black;
  padding: 20px;
  box-sizing: border-box; 
}

.image-flex{
    height: 300px;
    display: flex;
}

.image-flex img:first-child{

   flex: 1;
    
}

.image-flex img:last-child{

    flex: 2;
     
 }

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.servicos{
    padding: 10px;
    border: 2px solid;
    width: 58%;

} .agenda {
    padding: 10px;
    border: 2px solid;
    width: 38%;
}

.servicos h2, .agenda h2 {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.servicos h3 {
    margin-top: 10px;
    color: black;
}

.agenda .event {
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: black;
    color: #fff;
}

.mapa {
    width: 25%;
    background-color: black;
    color: #fff;
    float: left;
    padding: 15px;
}

 .mapa ul {
    list-style: none;
}

 .mapa ul li {
    margin-top: 15px;
}

.mapa ul li a {
    text-decoration: none;
    color: white;
}

